* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main .card, main .item {
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: solid;
}

main .nosotros, main .caja-vende, main .caja-catalog, main .financiacion {
  background-color: rgb(80, 80, 80);
  color: black;
  padding: 10px 10px;
  margin: 5px 5px;
  border-radius: 5%;
  font-size: 1rem;
  transition: 0.5s;
}
main .nosotros:hover, main .caja-vende:hover, main .caja-catalog:hover, main .financiacion:hover {
  box-shadow: 0px 0px 31px 0px rgb(0, 0, 0);
  transform: scale(1.1);
}

main .titulopagano, main .titulo {
  font-style: italic;
  font-weight: bold;
  margin-top: 5%;
  text-decoration-line: underline;
}

main .caja-vende, main .caja-catalog {
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(56, 74, 126, 0.692);
}

@media only screen and (min-width: 320px) and (max-width: 699px) {
  main div.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    align-content: space-around;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1500px) {
  main div.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    align-content: space-around;
    flex-wrap: wrap;
  }
  main div.caja-logos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
  }
  main div.cajaentrega {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  main div.card .entregaimg {
    max-width: 300px;
  }
}
main .titulo {
  font-style: italic;
  font-weight: bold;
  margin-top: 5%;
  text-decoration-line: underline;
}
main h3 {
  font-style: italic;
}
main .financiacion {
  background-color: rgba(56, 74, 126, 0.692);
}
main .logoindex {
  max-width: 60px;
}
main .carrousel {
  margin: 5%;
}
main .carousel-inner {
  margin-top: 10px;
  margin-bottom: 10px;
}
main div.caja-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-content: center;
  align-items: stretch;
}

main .img-auto {
  max-width: 260px;
}
main .item {
  max-width: 320px;
  text-align: center;
  margin: inherit;
}
main .descripcion {
  color: #250dff;
  font-weight: bold;
}
main .precio {
  color: rgb(0, 0, 0);
}

main .formulario {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 25px;
  margin-top: 50px;
  box-sizing: border-box;
  background-color: rgb(80, 80, 80);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
main .enviar {
  background-color: rgb(0, 0, 0);
  color: #250dff;
}
main .eleccion {
  background-color: rgba(56, 74, 126, 0.692);
}
main label {
  display: block;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}
main input, main select {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
main input .formulario, main select .formulario {
  margin-bottom: 15px;
}
main input select, main select select {
  margin-top: 5px;
}

main .card {
  align-items: center;
  margin: inherit;
}
main .entregaimg {
  display: flex;
  width: 250px;
}
main .cajaentrega {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin: 10px;
}

main {
  margin: 3%;
  border-style: solid;
}
main iframe {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
footer .footer {
  text-align: center;
}
footer .t-footer {
  text-decoration: underline;
}
footer .logoredes {
  max-width: 145px;
}
footer .logorede {
  max-width: 135px;
}

header .nav-item:hover {
  background-color: rgb(80, 80, 80);
}
header .container-fluid {
  background-color: rgb(0, 0, 0);
}
header .colorboton {
  background-color: #250dff;
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
header .navbar-collapse {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
}

/*# sourceMappingURL=styles.css.map */
