/*Mobile first*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2;
    text-align: center;
}

/*inicio index*/
.carousel-inner {
    margin-top: 10px;
    margin-bottom: 10px;

}

.caja-vende {
    background-color: #69dcff;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

@media (min-width:900px) {
    .caja-vende {
        margin-right: 200px;
        margin-left: 200px;
        background-color: rgba(56, 74, 126, 0.692);
    }

}

/*fin index*/

/*inicio footer*/
.footer {
    text-align: center
}

.t-footer {
    text-decoration: underline
}

/*catalogo de entregas*/
h1 {
    text-align: center;
}

.card {
    border-style: none;
}

.entregaimg {
    max-width: 320px;
}

.cajaentrega {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

@media (min-width:900px) {
    .cajaentrega {
        display: flex;
        flex-direction: column;
    }

    .card .entregaimg {
        max-width: 480px;
    }
}

/*Fin catalogo de entregas*/
/*Inicio del catalogo*/
.img-auto {
    width: 100%;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.contenedor .item {
    max-width: 320px;
    !important text-align: center;
}

.contenedor .item .descripcion {
    color: #250dff;
    font-weight: bold;
}

.contenedor .item .precio {
    color: #ff0000;
}

@media (min-width:480px) {
    .contenedor .item .descripcion {
        color: #ff01ff
    }

    .contenedor .item .precio {
        color: rgba(37, 13, 255, 0.479);
    }
}

@media (min-width:900px) {
    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .contenedor .item {
        max-width: 420px;
        text-align: center;
    }

    .contenedor .item .descripcion {
        color: #ff0000
    }

    .contenedor .item .precio {
        color: #250dff;
    }
}

/*Fin del catalogo*/
/*centrado del googlemaps*/
.maps {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    text-align: center;
    justify-content: center;
}

h3 {
    text-align: center;
    justify-content: center;
    font-style: italic;
}

/*Formulario cotizacion*/

fieldset {

    border: 5px solid #043f88;
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
    min-height: 150px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}

/*fin formulario*/