%valoresnormales {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2;
    text-align: center;
    justify-content: center;
}
%bordercompleto{
    border-color: $color-footer;
    border-width: 1px;
    border-style: solid;
}