
footer {
    background-color: $color-footer;
    color: $color-letra-foot;
    .footer {
        text-align: center
    }
    .t-footer {
        text-decoration: underline
    }
    .logoredes{
        max-width: 145px;
    }
    .logorede{
        max-width: 135px;
    }
}
