main{

.card {
    @extend %bordercompleto;
    align-items: center;
    margin: inherit;
}

.entregaimg {
    display: flex;
    width: 250px;
}

.cajaentrega {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
}

