main {

    .img-auto {
        max-width: 300px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px;
        align-content: space-around;
        flex-wrap: wrap;
    }

    .item {
        max-width: 320px;
        text-align: center;

        .descripcion {
            color: (nth($color-desktop, 1));
            font-weight: bold;
        }

        .precio {
            color: nth($color-caja-mobile, 1);
        }
    }
}