main{

.card {
    border-style: none;
    align-items: center;
}

.entregaimg {
    display: flex;
    width: 320px;
}

.cajaentrega {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

@media only screen and (min-width: nth($tamanio,3)) {
    .cajaentrega {
        display: flex;
        flex-direction: column;
    }

    .card .entregaimg {
        max-width: 550px;
    }
}
}