main {

    h3 {
        font-style: italic;
    }

    div {
        .carrousel {
            margin: 5%;
        }

        .carousel-inner {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        div.caja-vende {
            @extend %bordercompleto;
            background-color: nth($color-caja-mobile, 1);
            align-items: center;
            text-align: center;
            padding: 10px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;



            @media only screen and (min-width: nth($tamanio, 3)) {
                .caja-vende {
                    margin-right: 200px;
                    margin-left: 200px;
                    background-color: nth($color-caja-desktop, 1);
                }

            }
        }
    }
}