main{
    margin: 3%;
    border-style: solid ;
    .nosotros{
        @extend %cajaconborder;
    }
    .titulopagano{
       @extend %titulo
    }
    iframe {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
