main {
    .img-auto {
        max-width: 300px;
    }

    .titulo {
        @extend %titulo
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px;
        align-content: space-around;
        flex-wrap: wrap;
    }

    .item {
        max-width: 320px;
        text-align: center;
        margin: inherit;
        @extend %bordercompleto;

    }

    .descripcion {
        color: (nth($color-desktop, 1));
        font-weight: bold;
    }

    .precio {
        color: nth($color-footer, 1);
    }
}
