main{

.card {
    @extend %bordercompleto;
    align-items: center;
    margin: inherit;
}

.entregaimg {
    display: flex;
    width: 320px;
}

.cajaentrega {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin: 10px
}
@media screen {
    
}
@media only screen and (min-width: nth($tamanio,3)){
    .cajaentrega {
        display: flex;
        flex-direction: column;
    }

    .card .entregaimg {
        max-width: 550px;
    }
}
}