$color-nav: rgb(80, 80, 80);
$color-footer: rgb(0,0,0,);
$color-mobile: #ff0000;
$color-desktop: #250dff;
$color-caja-desktop: rgba(56, 74, 126, 0.692);
$color-caja-mobile: #69dcff;
$color-letra-foot: rgb(255, 255, 255);